Repository Classy-Potatoes/Front_Classy-Groupware, pull requests merged in 2023-11, with the labels that each got.

#18 Feat/#2/ 헤더랑 네비 ui
  .idea/.gitignore
  .idea/classy-front.iml
  .idea/encodings.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  .idea/workspace.xml
  package-lock.json
  package.json
  public/Vector.png
  public/approval.png
  public/board.png
  public/calender.png
  public/cg 로고 2.png
  public/favicon.ico
  public/image 8.png
  public/index.html
  public/logout.png
  public/message.png
  public/outline_me.png
  public/phone.png
  public/project.png
  public/work.png
  src/App.js
  src/dashBoard/components/common/Header.js
  src/dashBoard/components/common/Navbar.js
  src/dashBoard/layouts/Layout.js
  src/dashBoard/modules/index.js
  src/dashBoard/pages/main.js
  src/index.js
  src/store.js
  src/style/App.css
  src/style/Nav.css
Labels: FE, HTML&CSS

#23 Feat/#2/ 네비 css 변경
  .idea/workspace.xml
  src/App.js
  src/dashBoard/components/common/Navbar.js
  src/project/pages/ProjectMain.js
  src/project/pages/sample.js
  src/style/Nav.css
Labels: HTML&CSS

#24 Feat/#2/ 기본 네비완성, css 초기화
  package-lock.json
  package.json
  public/ph_list-light.png
  src/App.js
  src/dashBoard/components/common/Navbar.js
  src/index.js
  src/project/components/common/ProjectNavBar.js
  src/project/components/sample.js
  src/project/pages/ProjectMain.js
  src/style/GlobalStyles.js
  src/style/Nav.css
Labels: HTML&CSS

#25 Feat / #1 / calendar
  package-lock.json
  package.json
  src/App.js
  src/calendar/apis/Apis.js
  src/calendar/apis/CalendarAPICalls.js
  src/calendar/apis/sample.js
  src/calendar/components/CalendarMain.js
  src/calendar/components/sample.js
  src/calendar/imgages/cal-logo.png
  src/calendar/imgages/menu.png
  src/calendar/layouts/CalendarLayout.js
  src/calendar/layouts/sample.js
  src/calendar/modules/CalendarModule.js
  src/calendar/modules/sample.js
  src/calendar/pages/CalendarNavbar.js
  src/calendar/pages/sample.js
  src/dashBoard/modules/index.js
Labels: FE, Feature

#26 Feat / #1 / calendar
  .idea/workspace.xml
  src/App.js
  src/dashBoard/components/common/Navbar.js
  src/style/Calendar.css
Labels: FE, Feature
